<header class="">
  <div
    class="align-items-center align-items-lg-start  container-fluid d-flex flex-column justify-content-center ps-5 g-5 ">
    <h1 class="">Back To School</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia modi ullam quae tempore obcaecati animi in,
      eligendi, repellat laboriosam tempora minus sed cum saepe dicta eaque, ipsam quidem est. Illo.</p>
    <button type="button"><a class="nav-link" routerLinkActive="active"
        routerLink="/validator/validator.component.html">Sign Up</a></button>
  </div>
  <div class="d-none d-lg-flex image">
    <img src="./assets/imgs/4.png" alt="header">
  </div>
</header>
