<div class="about d-flex container w-75">
  <div class="content">
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam doloremque cum eligendi neque labore
      fugiat, corporis omnis nobis iusto fuga esse nemo consequuntur odio maxime a dignissimos quos ex!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam doloremque cum eligendi neque labore
      fugiat, corporis omnis nobis iusto fuga esse nemo consequuntur odio maxime a dignissimos quos ex!</p>
  </div>

  <div class="children">
    <img src="./assets/imgs/child.png" alt="children">
  </div>
</div>
