* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --main-color: rgb(7, 45, 78);
  --secondary-color: rgb(24, 52, 76);
  --font-color: #fff;
}
body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

div.container {
  display: grid;
  width: 60vw;
  grid-template-areas:
    "nav nav nav"
    "aside main main"
    "aside div-container  div-container"
    "aside footer footer";
  grid-template-rows: 60px 150px 200px 60px;
  gap: 10px;
}

div.container > * {
  background-color: var(--main-color);
  color: var(--font-color);
  border: 5px double var(--font-color);
  font-size: 1.1rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  grid-area: nav;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

div.container .div-container {
  background-color: var(--font-color);
  display: grid;
  justify-content: flex-start;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-area: div-container;
}

.div-container > * {
  background-color: var(--secondary-color);
  border-radius: 5px;
  line-height: 200px;
}

footer {
  grid-area: footer;
}

@media (max-width: 767px) {
  body {
    justify-content: stretch;
  }
  div.container {
    width: 90vw;
    grid-template-areas:
      "nav"
      "aside"
      "main"
      "div-container"
      "footer";
    grid-template-rows: 50px 60px 80px auto 50px;
  }

  div.container .div-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 80px);
  }

  .div-container > * {
    line-height: 80px;
  }
}
